.ztree li a:hover{
	text-decoration: none;
}
.ztree li span.button.switch{
    height: 23px;
	margin-top: 3px;
}
.ztree li a.curSelectedNode{
	height: auto;
	padding: 5px 2px;
	background-color: rgba(0, 167, 236, 0.3);
	border-color: rgba(0, 167, 236, 0.3);
	opacity: 0.9;
}
.ztree li a{
	height: auto;
	padding: 5px 2px;
}
.ztree li span.button.ico_open{
	background:url(../zTreeStyle/img/diy/2.png) 0 0 no-repeat;
}
.ztree li span.button.ico_close{
	background: url(../zTreeStyle/img/diy/3.png) 0 0 no-repeat;
}
.ztree li span.button.ico_docu{
	background: url(../zTreeStyle/img/diy/4.png) 0 0 no-repeat;
}
.ztree>li>a>span.button.ico_open{
	background:url(../zTreeStyle/img/diy/1.png) 0 0 no-repeat;
}
.ztree>li>a>span.button.ico_close{
	background:url(../zTreeStyle/img/diy/1.png) 0 0 no-repeat;
}
.ztree li span.button.diy01_ico_open,
.ztree li span.button.diy01_ico_close,
.ztree li span.button.diy01_ico_docu{
	background:url(../zTreeStyle/img/diy/11.png) 0 0 no-repeat !important;
}
.ztree li span.button.add {
	margin-right: 2px;
	background-position:-143px 0px;
	vertical-align: top;
}